<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<http auto-config="true">
		<intercept-url pattern="/admin**" access="hasRole('ADMIN')" />

		<!-- access denied page -->
		<access-denied-handler error-page="/403" />

		<form-login login-page="/login" default-target-url="/welcome"
			authentication-failure-url="/login?error" username-parameter="username"
			password-parameter="password" />

		<logout logout-success-url="/login?logout" />

		<csrf />

	</http>

	<beans:bean id="userDetailsDao"
		class="com.robert.blend.spring.user.dao.impl.UserDetailDaoImpl">
		<beans:property name="dataSource" ref="dataSource" />
	</beans:bean>
	<beans:bean id="customUserDetailsService"
		class="com.robert.blend.spring.user.service.CustomUserDetailsService">
		<beans:property name="usersByUsernameQuery"
			value="SELECT D_USERNAME username,D_PASSWORD password, D_ENABLED ENABLED,D_ACCOUNTNONEXPIRED accountnonexpired,D_ACCOUNTNONLOCKED 
		accountnonlocked,D_CREDENTIALSNONEXPIRED credentialsnonexpired FROM T_USERS 
		WHERE D_USERNAME=?" />
		<beans:property name="authoritiesByUsernameQuery"
			value="SELECT D_USERNAME username, D_ROLE role FROM T_USER_ROLES WHERE D_USERNAME=?" />
		<beans:property name="dataSource" ref="dataSource" />
	</beans:bean>
	<beans:bean id="authenticationProvider"
		class="com.robert.blend.spring.user.provider.LimitLoginAuthenticationProvider">
		<!-- <beans:property name="passwordEncoder" ref="encoder" /> -->
		<beans:property name="userDetailsService" ref="customUserDetailsService" />
		<beans:property name="userDetailsDao" ref="userDetailsDao" />
	</beans:bean>
	<!-- <beans:bean id="encoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<beans:constructor-arg name="strength" value="9" />
	</beans:bean> -->
	<authentication-manager>
		<authentication-provider ref="authenticationProvider" />
	</authentication-manager>

</beans:beans>